<form [formGroup]="form" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Passport data Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field class="full-width">
          <label>
            <input formControlName="surname" matInput placeholder="Surname">
          </label>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <label>
            <input formControlName="name" matInput placeholder="Name">
          </label>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <label>
            <input formControlName="patronymic" matInput placeholder="Patronymic">
          </label>
        </mat-form-field>
      </div>
      <div class="top-padding">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Select birth date</mat-label>
          <label>
            <input formControlName="birthDate" matInput [matDatepicker]="picker1">
          </label>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="top-padding">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Select issue date</mat-label>
          <label>
            <input formControlName="issueDate" matInput [matDatepicker]="picker2">
          </label>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <label>
            <input formControlName="serial" matInput placeholder="Serial">
          </label>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <label>
            <input formControlName="number" matInput placeholder="Number">
          </label>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <label>
            <textarea formControlName="authorityName" matInput placeholder="Authority name"></textarea>
          </label>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary" [disabled]="form.invalid">Save</button>
      <button (click)="backToList()" mat-raised-button color="secondary">Back</button>
    </mat-card-actions>
  </mat-card>
</form>
