<div mat-input-container class="mb-3">
  <label>
    <input matInput placeholder="Search file name" #input>
  </label>
</div>

<div class="spinner-container" *ngIf="fileDataDatasource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<table mat-table [dataSource]="fileDataDatasource" class="mat-elevation-z8"
       matSort matSortActive="fileName" matSortDirection="asc" matSortDisableClear>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- File name Column -->
  <ng-container matColumnDef="fileName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> File name</th>
    <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
  </ng-container>

  <!-- Created date Column -->
  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef> Created date</th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
  </ng-container>

  <!-- Send to check-->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let row">
      <button [class.spinner]="row.isClicked" [disabled]="row.isClicked" mat-raised-button color="primary"
              (click)="sendToCheck(row, $event)">Send to check
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClicked(row)">
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[3, 6, 9]" [pageSize]="9"></mat-paginator>
