table {
  width: 100%;
}

.mat-row:hover {
  background-color: #dbf8ff;
  cursor: pointer;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
