<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">AngularTestApp</a>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
